  .home-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    margin: 0 auto;
    overflow: hidden;
  }

  .slideshow {
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1500ms;
    margin-bottom: -3px;
  }
  
  .slide {
    display: inline-block;
    height: 80vh;
    width: 100%;
    /* object-fit: cover; */
  }